<section class="cd-section cd-section--bg-fixed">
    <div class="container max-width-sm">
      <div class="box-container">
        <div class="container">
          <a
            class="card"
            href="/for_one_MSU_student_nursing_is_a_family_affair.html"
          >
            <h3 class="size">
              For one MSU student, nursing is a family affair
            </h3>
            <p class="small">
              Morgan State’s nursing program admitted its largest cohort of students. Meet one of its rising stars and the mother who inspired her.   
            </p>
            <div
              class="go-corner"
              href="/for_one_MSU_student_nursing_is_a_family_affair.html"
            >
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>
          
          
          <a class="card" href="/the_nursing_field_is_making_space_for_black_men.html">
            <h3 class="size">The nursing field, known for being dominated by White women is making space for a growing population. Black men.</h3>
            <p class="small">
              While diversity in the nursing industry is growing, Black nurses make up less than 16 percent of the field and Black men make up even less.
            </p>

            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>
          
          
          <a class="card" href="/why_black_women_are_dying_of_breast_cancer_at_higher_rates_than_white_women.html">
            <h3 class="size">Why Black Women Are Dying of Breast Cancer at Higher Rates than White Women</h3>
            <p class="small">
              There is a 2.6 percent chance a woman will die from breast cancer. Black women make up a large portion of that small percentage, with a 40 percent higher death rate. 
            </p>
            <div class="dimmer"></div>
            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>

          
          <a class="card" href="/racism_is_the_public_health_crisis_covid-19_is_the_symptom.html">
            <h3 class="size">Racism is the public health crisis, covid-19 is the symptom experts say</h3>
            <p class="small">
              Local governments are beginning to declare racism as a public health emergency
            </p>
            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>

          
          <a class="card" href="/black_distrust_for_modern_medicine_drives_movement_to_holistic_health.html">
            <h3 class="size">Black distrust for modern medicine drives movement to holistic health</h3>
            <p class="small">
              Maryland’s naturopathic doctors connect increasing natural health interest in the Black community to longstanding racial discrimination in healthcare and the cultural use of “home remedies.”
            </p>

            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>
          
          <a class="card" href="/morgan_state_welcomes_back_more_than_10_percent_of_it%20_student_body_nearly_1_year_after_going_fully_remote.html">
            <h3 class="size">Black distrust for modern medicine drives movement to holistic health</h3>
            <p class="small">
              Maryland’s naturopathic doctors connect increasing natural health interest in the Black community to longstanding racial discrimination in healthcare and the cultural use of “home remedies.”
            </p>

            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>

          <!--
          <a class="card" href="#">
            <h3 class="size">Article 6</h3>
            <p class="small">
              Card description with lots of great facts and interesting details.
            </p>
            <div class="dimmer"></div>
            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>
        </div>
-->
      </div>
    </div>
  </section>