<section class="cd-section cd-section--bg-fixed">
    <div class="container max-width-sm">
      <div class="box-container">
        <div class="container">
          <a
            class="card"
            href="/for_one_MSU_student_nursing_is_a_family_affair.html"
          >
            <h3 class="size">
              For one MSU student, nursing is a family affair
            </h3>
            <p class="small">
              Morgan State’s nursing program recently received accreditation this year and admitted its largest cohort of students. Meet one of its rising stars and the mother who inspired her.   
            </p>
            <div
              class="go-corner"
              href="/for_one_MSU_student_nursing_is_a_family_affair.html"
            >
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>

          <a class="card" href="#">
            <h3 class="size">Article 2</h3>
            <p class="small">
              Card description with lots of great facts and interesting details.
            </p>

            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>

          <a class="card" href="#">
            <h3 class="size">Article 3</h3>
            <p class="small">
              Card description with lots of great facts and interesting details.
            </p>
            <div class="dimmer"></div>
            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>

          <a class="card" href="#">
            <h3 class="size">Article 4</h3>
            <p class="small">
              Card description with lots of great facts and interesting details.
            </p>
            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>

          <a class="card" href="#">
            <h3 class="size">Article 5</h3>
            <p class="small">
              Card description with lots of great facts and interesting details.
            </p>

            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>

          <a class="card" href="#">
            <h3 class="size">Article 6</h3>
            <p class="small">
              Card description with lots of great facts and interesting details.
            </p>
            <div class="dimmer"></div>
            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>