<section class="cd-section cd-section--bg-fixed">
    <div class="container max-width-sm">
      <div class="box-container">
        <div class="container">
          <a
            class="card"
            href="/for_one_MSU_student_nursing_is_a_family_affair.html"
          >
            <h3 class="size">
              For one MSU student, nursing is a family affair
            </h3>
            <p class="small">
              Morgan State’s nursing program admitted its largest cohort of students. Meet one of its rising stars and the mother who inspired her.   
            </p>
            <div
              class="go-corner"
              href="/for_one_MSU_student_nursing_is_a_family_affair.html"
            >
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>
          
          
          <a class="card" href="/the_nursing_field_is_making_space_for_black_men.html">
            <h3 class="size">The nursing field, known for being dominated by White women is making space for a growing population. Black men.</h3>
            <p class="small">
              While diversity in the nursing industry is growing, Black nurses make up less than 16 percent of the field and Black men make up even less.
            </p>

            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>
          
          <!--
          <a class="card" href="#">
            <h3 class="size">Article 3</h3>
            <p class="small">
              Card description with lots of great facts and interesting details.
            </p>
            <div class="dimmer"></div>
            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>

          <a class="card" href="#">
            <h3 class="size">Article 4</h3>
            <p class="small">
              Card description with lots of great facts and interesting details.
            </p>
            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>

          <a class="card" href="#">
            <h3 class="size">Article 5</h3>
            <p class="small">
              Card description with lots of great facts and interesting details.
            </p>

            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>

          <a class="card" href="#">
            <h3 class="size">Article 6</h3>
            <p class="small">
              Card description with lots of great facts and interesting details.
            </p>
            <div class="dimmer"></div>
            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>
        </div>
-->
      </div>
    </div>
  </section>