<header>
  <nav>
    <ul>
      <li class="home">
        <a href="/">Home</a>
      </li>
      <li class="about_this_site">
        <a href="/about_this_site">About This Site</a>
      </li>
      <li class="birds">
        <a href="/birds">Birds</a>
      </li>
      <li class="trees">
        <a href="/trees">Trees</a>
      </li>
      <li class="kittens">
        <a href="/kittens">Kittens</a>
      </li>
    </ul>
  </nav>
</header>
