<header>
  <nav>
    <ul>
      <li>
        <a href="/">Home</a>
      </li>
      <li>
        <a href="../about.html">About This Site</a>
      </li>
      <li>
        <a href="birds.html">Birds</a>
      </li>
      <li>
        <a href="trees.html">Trees</a>
      </li>
    </ul>
  </nav>
</header>
