<header>
  <nav>
    <ul>
      <li class="Home">
        <a href="/">Home</a>
      </li>
      <li class="About">
        <a href="/about_this_site">About This Site</a>
      </li>
      <li class="Birds">
        <a href="/birds">Birds</a>
      </li>
      <li class="Trees">
        <a href="trees">Trees</a>
      </li>
    </ul>
  </nav>
</header>
