<h1>
  About this site
</h1>
<p>
  This site was create with
  <a target="_blank" href="https://glitch.com">Glitch</a>, so
  <a target="_blank" href="https://glitch.com/edit/#!/alice-davis"
    >you can remix it or view its source</a
  >.
</p>
