<div class="pullout container-flex">
  <div class="row">
    <div class="quote col-sm">
      <h2>
        Why Black Women Are Dying of Breast Cancer at Higher Rates than White
        Women
      </h2>

      <p class="slug">
        There is a 2.6 percent chance a woman will die from breast cancer. Black
        women make up a large portion of that small percentage, with a 40
        percent higher death rate.
      </p>
      <hr class="class-6" />
      <p class="author">
        Jordan D. Brown, Staff Writer
      </p>
      <p class="date">
        October 30, 2020
      </p>
    </div>
  </div>
</div>
<div class="full-width-background">
  <div class="container-md story-content">
    <p>
      As Morgan State approaches another virtual semester, the university is
      moving towards a hybrid instruction plan, even as new variants of the
      coronavirus are circulating in the Baltimore area.
    </p>
    <p>
      On Jan. 30, the first case of the South African coronavirus variant was
      detected in Baltimore and two cases have been discovered in the state of
      Maryland since. The new variants spread both easier and quicker than other
      variants of the disease, but it is unknown how they will affect the
      current coronavirus vaccine being distributed, according to the Centers
      for Disease Control and Prevention (CDC).
    </p>
    <p>
      38.5 million doses of the Pfizer and Moderna vaccines have been
      administered in the U.S. and the number continues to increase, with a
      daily average of 1.36 million doses. The CDC recommended people over the
      age of 65, people ages 16 to 64 with underlying medical conditions, health
      care workers and frontline essential workers be prioritized in receiving
      early dosages of the vaccine.
    </p>
    <p>
      Surafel Hailu, a sophomore nursing major, received his first dosage of the
      Pfizer vaccine in late January. As a nursing assistant at Lorien Health
      Services in Columbia, Md., Hailu had to get vaccinated as soon as possible
      to better help his community as an essential worker and be relieved from
      the anxieties of catching the virus.
    </p>
    <p>
      Hailu walks into the student center to get tested for COVID-19, something
      nursing majors must do multiple times per week. (Edoghogho Ugiagbe)
    </p>
    <p>
      “I saw it in terms of, if I take it now and my body reacts well to it, I
      can really help without feeling the stress of always looking around on my
      shoulder because I’m a healthcare worker,” he said. “I’m working the front
      lines, so if I interact with anyone with COVID and I get it, I’m trapped.”
    </p>
    <p>
      Starting Feb. 11, citizens will have a better chance of receiving the
      vaccine as the Biden administration plans to deliver about 10.5 million
      doses to retail pharmacies across the nation. In the state of Maryland, 51
      pharmacies, supermarkets and superstores will administer the vaccine.
    </p>
    <p>
      Although the vaccine is being distributed throughout the country, millions
      of people have opposing views towards getting vaccinated. In particular,
      there is a significant hesitation in taking it within the Black community.
      According to the CDC, African Americans are nearly three times more likely
      to die from COVID-19 in comparison to White people.
    </p>
    <p>
      The Kaiser Family Foundation reported 43 percent of Black adults have
      decided to wait and see how the vaccine will affect other people in
      comparison to the 37 percent of Hispanic adults and 26 percent of White
      adults.
    </p>
    <p>
      Bridget Mahn, a sophomore business administration major, is not interested
      in getting the COVID-19 vaccination.
    </p>
    <p>
      “Personally I’m not a fan of vaccines just because you never truly know
      what you’re being injected with,” Mahn said. “Plus I’ve been in this
      pandemic for an entire year now and have stayed COVID free the entire
      time, just by doing the basic guidelines, so honestly I think the vaccine
      will do more harm than good.”
    </p>
    <p>
      The lack of interest and hesitation from the Black community in taking the
      vaccine comes from several directions, but Panagis Galiatsatos, the
      co-chair for the Johns Hopkins Health System Health Equity Team, said he
      believes it’s a result of a long history of vaccinations and medicine
      negatively affecting African Americans.
    </p>
    <p>
      “For the Black community, a lot of it is associated with historical
      context,” Galiatsatos said. “Constant times where medicine's notion of
      public trust was broken, you can point to Tuskegee and Henrietta Lacks.”
    </p>
    <p>
      Galiatsatos said the Tuskegee experiment and the life of Henrietta Lacks
      are two primary examples of medical malpractice towards Black people.
    </p>
    <p>
      The Tuskegee experiment was an unethical medical study where 600 Black
      male participants were unknowingly enrolled in a project to study the
      progression of syphilis as doctors told participants they would be treated
      for bad blood. As for Henrietta Lacks, she unintentionally donated her
      unique cells to Johns Hopkins Hospital during her cervical cancer
      treatment in 1951. Although she died from the disease at 31, her cells,
      also known as HeLa cells, are still being used today in the medical field.
    </p>
    <p>
      “The Black community’s distrust of medicine and academic institutions has
      been there for decades, built around institutional racism and the lack of
      perceived care for them,” Galiatsatos said.
    </p>
    <p>
      Kim Sydnor, the dean of the School of Community Health and Policy, also
      emphasized the high levels of distrust with this particular vaccine.
    </p>
    <p>
      “The vaccine is really all about trust,” Sydnor said. “People are asking
      us to trust the science, trust the medical system, and get the vaccine but
      I think for some people in the Black community, that’s a leap too far
      until they get more information from credible sources.”
    </p>
    <p>
      Morgan State President David Wilson received his first dosage of the
      COVID-19 vaccine on Feb. 9, encouraging his community to take the vaccine
      as soon as they can.
    </p>
    <p>
      “I understand that within the Black community, there is not a high level
      of trust in vaccination given our history,” Wilson said in a January
      interview with The Spokesman. "So with that understanding, I also
      understand my role as president at Morgan, which is to show based on my
      own taking of the vaccine, that I believe it.”
    </p>
    <p>
      Although there are millions of citizens against the idea of taking the
      vaccine anytime soon, 41 percent of Americans are open to receiving the
      vaccine as soon as they can, according to Kaiser Family Foundation.
    </p>
    <p>
      Jada Avery, a freshman nursing major, originally questioned taking the
      vaccine. But after seeing how COVID-19 affected people across the world in
      addition to those in her personal life, she said the vaccine would provide
      her with health security.
    </p>
    <p>
      “I'm on campus for one and I'm interacting with people,” Avery said. “Even
      before I was on campus, I was working a job, going out with precautions,
      of course, wearing a mask and washing my hands. But it would just be
      better having the security with the vaccine.”
    </p>
    <p>
      Whether one decides to take the vaccine or not, Sydnor said people should
      reach out to their primary care physicians, do independent research and
      determine whether it's the best choice for them.
    </p>
    <p>
      “We’ve been encouraging folks not to play the shame game," she said. "I
      don’t think that’s the way to get people to take the vaccine. It’s ‘Oh,
      you don’t want to take the vaccine? Talk to me about what your concerns
      and issues are.’”
    </p>

    <div class="image-with-caption">
      <img
        lt="Hope Egie (left) smiles in a family photo with her mother Isimeme Akoko (upper left)"
        src="https://cdn.glitch.com/03f006d0-e079-4e82-9710-e203769a31d8%2FHope%20Egie%20(left)%20smiles%20in%20a%20family%20photo%20with%20her%20mother%20Isimeme%20Akoko%20(upper%20left).%20(Courtesy%20of%20Hope%20Egie).jpg?v=1604084969326"
      />
      <footer class="image-caption">
        Hope Egie (left) smiles in a family photo with her mother Isimeme Akoko
        (upper left)
      </footer>
      <footer class="image-caption">
        Photo Courtesy Of: Hope Egie
      </footer>
      <br />
    </div>

    <p class="colophon">
      Hershaw’s story is a part of “Black Health Matters,” a year-long reporting
      program through
      <a
        href="https://www.poynter.org/from-the-institute/2020/poynter-announces-the-10-student-media-publications-selected-for-its-2020-21-college-media-project/"
        >The Poynter Institute’s College Media Project</a
      >. The project’s objective: to tell health related stories through the
      lens of Black college students, while examining possible solutions.
    </p>
  </div>
</div>
