<div class="pullout container-flex">
  <div class="row">
    <div class="image-with-caption col-sm">
      <!-- TODO: move this header-image class to the parent div or style based on .pullout > image-with-caption -->
      <img
        class="header-image"
        alt="Daisy Rusley is a senior, theatre arts major at Morgan State. She's also vegan."
        src="https://cdn.glitch.com/03f006d0-e079-4e82-9710-e203769a31d8%2FDaisy%20Rusley%20is%20a%20senior%2C%20theatre%20arts%20major%20at%20Morgan%20State.%20She's%20also%20vegan.%20.jpeg?v=1606945603616"
      />
      <footer class="header-caption image-caption">
        Daisy Rusley is a senior, theatre arts major at Morgan State. She's also
        vegan.
      </footer>
      <footer class="header-credit image-caption">
        Photo Courtesy of Instagram
      </footer>
      <br />
    </div>
    <div class="quote col-sm">
      <h2>
        Black distrust for modern medicine drives movement to holistic health
      </h2>

      <p class="slug">
        Maryland’s naturopathic doctors connect increasing natural health
        interest in the Black community to longstanding racial discrimination in
        healthcare and the cultural use of “home remedies.”
      </p>
      <hr class="class-6" />
      <p class="author">
        Chloe Johnson, Project Manager
      </p>
      <p class="date">
        December 2, 2020
      </p>
    </div>
  </div>
</div>
<div class="full-width-background">
  <div class="container-md story-content">
    <p>
      Senior theatre arts major Daisy Rusley vividly remembers her family
      treating small ailments with homemade remedies while growing up, from
      ginger ale for an upset stomach to warm water with salt for a sore throat.
    </p>
    <p>
      While Rusley and her family didn’t use many home remedies then; they have
      now become a part of her everyday life. “I’ve only been vegan for four
      years now, and I no longer take over-the-counter medicines.”
    </p>
    <p>
      Rusley prefers herbal based pills, detoxifying teas, and other natural
      remedies. She said her skepticism for modern medicine contributed to her
      decision to become vegan.
    </p>
    <p>
      “I do not 100 percent trust medical doctors because the origins of
      America’s medicine practices are based on Eurocentric foundations,” Rusley
      said.
    </p>
    <p>
      A long history of deep-rooted racism and medical experimentation in the
      U.S. healthcare system has fostered distrust from many Black Americans. As
      an alternative, the Black community is considering naturopathic care.
    </p>
    <p>
      This system of primary healthcare promotes self-healing and disease
      prevention by using botanical remedies and other therapies. Many natural
      treatments fall into the category of alternative medicine, including
      acupuncture and chiropractic disciplines.
    </p>
    <p>
      Naturopathic doctors are medically trained in primary care like
      conventional doctors, but rather than suppressing symptoms with
      pharmaceutical medication, they work to address the root cause of
      illnesses through a self-healing process.
    </p>
    <p>
      The movement towards holistic health is congruous with evidence of racial
      disparities in healthcare spanning over a century. Seven of 10 Black
      adults said racism in healthcare happens “very often” and 20 percent
      experienced discrimination while receiving healthcare within the last 12
      months, according to a recent nationwide poll from the Kaiser Family
      Foundation and ESPN’s, The Undefeated.
    </p>
    <p>
      Much of this distrust has bled into the Black communities' perspective of
      the COVID-19 vaccination. Less than half of Black people said they would
      get vaccinated if it were free, and just 14 percent believe the
      vaccination will be safe and effective, according to a recent study by
      COVID Collaborative, the NAACP, and Langer Research.
    </p>
    <p>
      The study exposes the larger issue of medical distrust stemming from
      communities of color.
    </p>
    <p>
      “It's a part of what drives someone into my office,” said Kristaps
      Paddock, co-founder of Charm City Natural Health.
    </p>
    <p>
      Dr. Paddock, the president-elect of the Maryland Naturopathic Doctors
      Association, said many of his patients have sought naturopathic treatment
      after having their symptoms ignored or discredited by their medical
      doctors.
    </p>
    <p>
      “It comes from a feeling of not being listened to and not having symptoms
      taken seriously,” he said.
    </p>
    <p>
      He attributed another reason for Black distrust in Baltimore to the city’s
      notorious reputation for medical malpractice. “This is the city of
      Henrietta Lacks,” Dr. Paddock said.
    </p>
    <p>
      Over 60 years later, Lacks’ story continues to resonate with Black
      residents in Baltimore and across the world. Just months before she died,
      a medical doctor at John Hopkins Hospital harvested cancer cells from
      Lacks' cervix without her consent. Shortly after her death, her cells were
      discovered to be immortal and were mass produced without her family’s
      knowledge.
    </p>
    <p>
      But the practice of home remedies in the Black community dates further
      back than Lacks.
    </p>
    <p>
      Black people who live in urban areas, have a lower income, or have lived
      with a grandparent in childhood are predicted more likely to use
      alternative medicine or home remedies, according to a research study from
      Research in Social and Administrative Pharmacy.
    </p>
    <p>
      Another study from the University of Michigan’s College of Pharmacy found
      that more than 68 percent of Black families already use home remedies or
      herbal preparations.
    </p>
    <p>
      “I don't think there’s been a surge,” Paddock said. “For generations,
      there has always been a lot of interest from the [Black] community in what
      naturopathic care has to offer. I think it's been there the whole time.”
    </p>
    <p>
      Safiya McCarter, an acupuncturist and naturopathic doctor based in Silver
      Spring believes that for Black people, the use of herbs for medicinal
      purposes is cultural.
    </p>
    <p>
      “Black and Brown people are attracted to naturopathic medicine because, to
      a degree, it is familiar to them,” she said. “It is something that they
      grew up with.”
    </p>
    <p>
      Dr. McCarter said a legacy of exclusion in medical academia, racial
      disparities in healthcare, and medical experimentation has discouraged
      Black people from seeking medical help. She added that even her uncle can
      recall the trauma of the Tuskegee experiment.
    </p>
    <p>
      For 40 years, the study followed 600 impoverished Black men, in Macon
      County, Alabama who believed they were being treated for illnesses
      associated with syphilis. When a cure for the disease was discovered,
      local physicians actively withheld diagnoses and treatment leading to
      deaths due to health complications and infected wives and children.
    </p>
    <p>
      Though initially proposed to last six months, the experiment continued
      until 1972.
    </p>
    <p>
      “Those things are not ancient history,” McCarter said. “We are not far
      enough removed for them to not impact the decisions we make today.”
    </p>
    <p>
      But naturopathic medicine has its barriers, like high prices.
    </p>
    <p>
      One visit to a naturopathic practitioner can cost $300 to $400 on average,
      and many insurance companies do not cover naturopathic care.
    </p>
    <p>
      “It causes a lot of people to say, ‘Well, am I going to spend trillions of
      dollars to see this guy or this woman, or am I going to put it towards my
      rent or my bills?’” said Anthony Ishmael, an herbalist who practiced in
      Baltimore for over 12 years.
    </p>
    <p>
      Many alternative practitioners argue that the healthcare industry for
      generations has been dismissive of its credibility and sought to eliminate
      natural medicine. Ishmael, along with several herbalists and life coaches
      in Maryland, were targeted by the state’s medical boards for practicing
      holistic health without a license.
    </p>
    <p>
      Ishmael said the persecution of Black holistic practitioners stems from a
      lack of medical diversity and an agenda to eradicate alternative health
      options in Black communities.
    </p>
    <p>
      “They have gone after African American practitioners, in particular,” he
      said. “Unfortunately, in America, the allopathic [modern] physicians or
      the allopathic medical boards, don't feel that alternative medicine has a
      place.”
    </p>
    <p>
      Despite this, Ishmael said modern healthcare and naturopathic medicine can
      work best when used collaboratively. In fact, many patients who seek
      naturopathic treatment typically continue seeing their primary doctors.
    </p>
    <p>
      “Many times, clients of mine go to a medical doctor and they will come
      back to me and say ‘Hey, is there an alternative to doing X, Y, Z?’” he
      said.
    </p>
    <p>
      But with the rising popularity of natural health, conventionally trained
      doctors and hospitals have also begun to integrate alternative therapies
      into their treatment options. Medical institutions like John Hopkins now
      offer alternative degree programs.
    </p>
    <p>
      In January, Morgan State University announced its plan to introduce a
      College of Osteopathic Medicine. The program would become the first
      osteopathic medical school at a historically Black university in 45 years.
    </p>
    <p>
      Ishmael said young Black adults are realizing racial disparities in
      healthcare and contributing to the rising awareness of holistic health.
      “Black people, especially the younger generation, have seen their parents
      and grandparents, and I think they're like ‘What are these medications
      doing? Is this really helping?’” he said.
    </p>
    <p>
      Rusley hasn’t visited a naturopathic doctor herself, but she said that
      information from alternative health experts has helped guide her own
      holistic journey. For her, being vegan means more than a change of diet,
      but also a change of lifestyle.
    </p>
    <p>
      “I research [natural health] and jot down holistic doctors’ guidelines,”
      she said. “I’ve noticed over the course of my own journey that, the more
      research I did, the easier it was to defend why I wanted to become vegan
      in the first place.”
    </p>

    <p class="colophon">
      This story is a part of “Black Health Matters,” a year-long reporting
      program through
      <a
        href="https://www.poynter.org/from-the-institute/2020/poynter-announces-the-10-student-media-publications-selected-for-its-2020-21-college-media-project/"
        >The Poynter Institute’s College Media Project</a
      >. The project’s objective: to tell health related stories through the
      lens of Black college students, while examining possible solutions.
    </p>
  </div>
</div>
