<div class="pullout">
  <img src="http://placekitten.com/800/1200">
  <p class="quote">
     And that easy, we've got a happy mountain. Let them have a good time in your world. 
  </p>
</div>

<div class="title">

  <h1>
    The First Story Title
  </h1>
  <h2 class="author">
    Author Name
  </h2>
    <h2 class="date-published">
    October 12, 2020
  </h2>
  
</div>
<div class="container-md story-content">
  
<p>
Let's play some games! Just any old thing that'll stick to the canvas. There's some little stringy ones that live down here. I thought today, this would be our crazy painting. Anything that happens here, we can live with and we can turn it into something that looks pretty good most of the time.
  Let's play some games! Just any old thing that'll stick to the canvas. There's some little stringy ones that live down here. I thought today, this would be our crazy painting. Anything that happens here, we can live with and we can turn it into something that looks pretty good most of the time. Let's play some games! Just any old thing that'll stick to the canvas. There's some little stringy ones that live down here. I thought today, this would be our crazy painting. Anything that happens here, we can live with and we can turn it into something that looks pretty good most of the time.
</p>
  
<p>
Once again: circular patterns. You have to make these big decisions in your world. Don't be afraid of it. Go out and spend some time talking to a tree. Get nervous.  Let's play some games! Just any old thing that'll stick to the canvas. There's some little stringy ones that live down here. I thought today, this would be our crazy painting. Anything that happens here, we can live with and we can turn it into something that looks pretty good most of the time. Let's play some games! Just any old thing that'll stick to the canvas. There's some little stringy ones that live down here. I thought today, this would be our crazy painting. Anything that happens here, we can live with and we can turn it into something that looks pretty good most of the time.
</p>

<img class="centered-image" src="http://placekitten.com/500/300">

<p>Show it who's boss! I'll show you exactly the kind of messes we get into sometimes. You make the big decisions where all these things live in your world. It'll open whole new worlds for you once you learn to make friends with this knife. We'll just have a firecracker of a sky up here.  Let's play some games! Just any old thing that'll stick to the canvas. There's some little stringy ones that live down here. I thought today, this would be our crazy painting. Anything that happens here, we can live with and we can turn it into something that looks pretty good most of the time. Let's play some games! Just any old thing that'll stick to the canvas. There's some little stringy ones that live down here. I thought today, this would be our crazy painting. Anything that happens here, we can live with and we can turn it into something that looks pretty good most of the time.
</p>

<h2>
  A Story Section Title
</h2>
  
<p>I would put water in just about everything. Everybody should have a friend. If everything was good all the time, pretty soon you'd be accepting that as normal. We planned this son-of-a-gun right from the beginning. Just let it float.  
</p>

  
<p>Time to get crazy. They just sort of bounce around and have fun up there. You know I'm crazy about water. Don't be afraid to have a lot of greens. You want to be able to control these rascals.  
</p>

  
<p>I just like to wash brushes. We'll have a super time. You wouldn't buy somebody else's mistakes; nobody's going to buy yours. That's the most fun of all. You have to make an almighty decision.  
</p>

  
<p>Remember where your finger's been before you scratch your nose. I really don't know what we're gonna do except have some fun. I used to work for weeks to make a tree. If you're gonna do mountains, it's fun to have little bumps on them here and there. Don't think there's anybody that doesn't like mountains. Well, maybe there is.  
</p>

  
<p>Let it continually go in circles, otherwise it'll look like it's raining up. Don't want to destroy, just diffuse. In the woods, you have all different colors of green. Clouds have form and shape and life and are interesting, they're not just ol' dull clouds. Bravery test!
    
</p>

  
<p>It takes very little color. The smallest, very little amount. You do it the way that you want it. Don't over do it -- be careful. Be careful. Who knows? Get crazy!  
</p>
  
</div>

<ul class="share-buttons" data-source="simplesharingbuttons.com">
  <li><a href="https://www.facebook.com/sharer/sharer.php?u=&quote=" title="Share on Facebook" target="_blank" onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;"><img alt="Share on Facebook" src="images/flat_web_icon_set/color/Facebook.png" /></a></li>
  <li><a href="https://twitter.com/intent/tweet?source=&text=:%20" target="_blank" title="Tweet" onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"><img alt="Tweet" src="images/flat_web_icon_set/color/Twitter.png" /></a></li>
  <li><a href="mailto:?subject=&body=:%20" target="_blank" title="Send email" onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"><img alt="Send email" src="images/flat_web_icon_set/color/Email.png" /></a></li>
</ul>

