<div class="pullout container-flex">
  <div class="row">
    <div class="image-with-caption col-md">
    <!-- TODO: move this header-image class to the parent div or style based on .pullout > image-with-caption -->
    <img
      class="header-image"
      alt="Junior nursing major Alisha Ovide starts her first year of nursing related courses this year."
      src="https://cdn.glitch.com/4bc50fa3-b891-45da-ad39-d40ad37d0703%2FIMG_6219.jpeg?v=1602640599888"
    />
    <footer class="header-caption">
      Junior nursing major Alisha Ovide starts her first year of nursing related
      courses this year.
    </footer>
    <footer class="header-credit">
      Photo Taken By: Alisha Ovide
    </footer>
    <br>
  </div>
    <div class="quote col-md">
    <h2>
      For one MSU student, nursing is a family affair
    </h2>

    <p class="slug">
      Morgan State’s nursing program recently received accreditation this year
      and admitted its largest cohort of students. Meet one of its rising stars
      and the mother who inspired her.
    </p>
    <hr class="class-6" />
    <p class="author">
      Oyin Adedoyin, Editor in Chief
    </p>
    <p class="date">
      October 16, 2020
    </p>
  </div>
  </div>
</div>
<div class="full-width-background">
  <div class="container-md story-content">
    <p>
      Science always came easily to Alisha Ovide and she was always interested
      in health and studying the human body.
    </p>

    <p>
      She grew up watching her mother, Alexis Morgan, who worked as a certified
      nursing assistant (CNA) in the labor and delivery unit at Good Samaritan
      Hospital in Brockton, Mass.
    </p>

    <p>
      Ovide excelled in subjects like anatomy and physiology and psychology. But
      her aspirations toward healthcare were solidified when she attended a
      special advanced medical program at Harvard University as a high school
      student.
    </p>
    <div class="image-with-caption">
      <img
        alt="Alisha Ovide (second from right) participates in a Harvard University program for high school students."
        src="https://cdn.glitch.com/4bc50fa3-b891-45da-ad39-d40ad37d0703%2FIMG_6214.jpeg?v=1602640610614"
      />
      <footer class="image-caption">
        Alisha Ovide (second from right) participates in a Harvard University
        program for high school students.
      </footer>
          <footer class="image-credit">
      Photo Taken By: Alisha Ovide
    </footer>
    </div>

    <p>
      “I was able to do certain things that my high school didn’t have the funds
      to provide for us in our science courses like being able to touch and feel
      preserved human organs,” she said.
    </p>

    <p>
      However, Morgan realized her daughter had a natural talent for taking care
      of people much earlier than high school. She’d often brought Ovide to work
      with her. She stood out among her siblings as the one who would pursue a
      career in nursing.
    </p>

    <p>
      “She’s a little mini-me,” Morgan, 50, said.
    </p>

    <p>
      And when Ovide’s grandmother got sick and was admitted into the hospital,
      she wanted to help however she could—from bringing her food daily to
      helping her take a bath.
    </p>

    <p>
      “Starting with grandma, I could tell that she was going to be a great
      nurse,” Morgan, a Haitian native, said.
    </p>

    <p>
      Growing up, Ovide never doubted her potential to work in the medical
      field. She was used to seeing Black nurses and had a doctor of color who
      always made her feel seen.
    </p>

    <p>
      So, when her senior year at a majority Black high school came to an end,
      she took her favorite teacher’s advice and applied to an HBCU.
    </p>

    <p>
      Although Ovide was surrounded by Black representation in healthcare, she
      noticed the disparities she witnessed between patients of color and their
      White counterparts.
    </p>

    <p>
      She was angered to learn that the Black infant mortality rate was three
      times that of white babies when looked after by White doctors or that
      Black women were more likely to die from complications surrounding
      childbirth.
    </p>

    <p>
      “If you’re a doctor, you’re supposed to take care of us,” she said.
    </p>

    <p>
      Medicine has a long history of neglecting Black lives.
    </p>

    <p>
      The phrase “Black Lives Matter” has its origins in the period since July,
      2013 when George Zimmerman, a White man, was acquitted of second-degree
      murder and related charges following the shooting death of Trayvon Martin,
      a Black teen, in Sanford, Fla., 17 months earlier.
    </p>

    <p>
      But the mantra has gained new relevance this year after the deaths of
      George Floyd, Breonna Taylor and others at the hands of police.
    </p>

    <p>
      Despite the onset of the coronavirus pandemic, thousands have taken to the
      streets to protest police brutality all over the country and the world and
      Black medical workers sit at the intersection of race and medicine.
    </p>

    <p>
      Ovide has served as a mentor for high school students as a part of
      university programs to encourage diversity in nursing, according to Morgan
      State nursing program director Maija Anderson.
    </p>

    <p>
      In Anderson’s experience, one of the biggest factors that discourages
      Black youth from pursuing healthcare professions is that they don’t get
      involved early enough.
    </p>

    <p>
      “They haven’t been socialized to the discipline of healthcare early on, so
      they have preconceived notions of how it is,” Anderson said. “You have to
      get them to identify, maybe freshman year of high school, that this is
      what they want to do.”
    </p>

    <p>
      According to Anderson, nursing courses at Morgan start after two years of
      general education requirements.
    </p>

    <p>
      Ovide is starting her first year in Morgan State’s nursing program. The
      program received accreditation just last year and has recently accepted
      its largest cohort of students (51 students) in the past five years.
    </p>

    <div class="image-with-caption">
      <img
        alt="Alisha Ovide (right) poses with other fellow Morgan nursing students."
        src="https://cdn.glitch.com/4bc50fa3-b891-45da-ad39-d40ad37d0703%2FIMG_6220.jpeg?v=1602640586668"
      />
      <footer class="image-caption">
        Alisha Ovide (right) poses with other fellow Morgan nursing students.
      </footer>
          <footer class="image-credit">
      Photo Taken By: Alisha Ovide
    </footer>
    </div>
    <p>
      Junior nursing students start the semester with skill labs in the Old
      Jenkins Behavioral Science building where they work with mannequins and
      practice bedside care. The goal is to move to clinicals -- supervised
      sessions where students are able to work at a healthcare facility with
      real patients, before the end of the semester.
    </p>

    <p>
      When Morgan initially enrolled in a New York nursing school, she only
      stayed for one year. After her mother’s death, she decided to return to
      nursing and became a CNA. She was a single mother and didn’t want the same
      fate for her children.
    </p>

    <p>
      In her more than 26 years of nursing experience, Morgan’s noticed a
      difference in the way that Black nurses and White nurses are treated in
      the hospital.
    </p>

    <p>
      Morgan said it isn’t uncommon to see a White doctor completely ignore a
      Black nurse and instead, address a White nurse directly even though
      they’re both in the same room and have the same credentials.
    </p>

    <p>
      For that reason, she stresses the importance of education on her kids.
    </p>

    <p>
      “I always tell my kids, ‘you guys are African American, you got to finish
      school, you don’t want to suffer like I did,’” Morgan said.
    </p>

    <p class="colophon">
      Ovide’s story is a part of “Black Health Matters,” a year-long reporting
      program through
      <a
        href="https://www.poynter.org/from-the-institute/2020/poynter-announces-the-10-student-media-publications-selected-for-its-2020-21-college-media-project/"
        >The Poynter Institute’s College Media Project</a
      >. The project’s objective: to tell health related stories through the
      lens of Black college students, while examining possible solutions.
    </p>
  </div>
</div>
