<h1>Alice Davis</h1>
      
      <img class="headshot" alt="headshot" src="https://cdn.glitch.com/dd734663-6804-4b91-9bd1-78b164b0eab8%2Fheadshot.JPG?v=1596751852259">

      <p>
        We'll put a happy little bush here. Don't be bashful drop me a line.
        Without washing the brush, I'm gonna go right into some Van Dyke Brown,
        some Burnt Umber, and a little bit of Sap Green. Now we'll take the
        almighty fan brush. Let's build some happy little clouds up here. Be so
        very light. Be a gentle whisper.
      </p>

      <p>
        Everything's not great in life, but we can still find beauty in it.
        Don't kill all your dark areas - you need them to show the light. Just
        let go - and fall like a little waterfall. Isn't it great to do
        something you can't fail at? This is unplanned it really just happens.
      </p>

      <h1>
        Another Heading
      </h1>

      <p>
        I spend a lot of time walking around in the woods and talking to trees,
        and squirrels, and little rabbits and stuff. Very easy to work these to
        death. Everyone needs a friend. Friends are the most valuable things in
        the world.
      </p>