<main>
    <section class="cd-section cd-section--bg-fixed">
      <div class="container max-width-sm">
        <div class="text-component text-center first-header">
          <h1 class ="glow">Black Health Matters</h1>
            <p class="subtext">
              Reporting the Medical Disparities and Untold Stories of Baltimore’s Largest HBCU
            </p>
         </div>
      </div>
    </section>

    <section class="cd-section cd-section--bg-fixed description">
      <div class="container max-width-sm">
        <div class="text-component text-center">
          <p>project description</p>
        </div>
      </div>
    </section>
  
    <section class="cd-section cd-section--bg-fixed">
      <div class="container max-width-sm">
        <div class="text-component text-center">
          <h1>Stories</h1>
        </div>
      </div>
    </section>
  
   <section class="cd-section cd-section--bg-fixed">
      <div class="container max-width-sm">
        <div class = "box-container">
        <div class = "row">
          <div class = "col">
            <div class = "box story1">
            <h2>Title</h2>
            <h4>insert description here</h4>
            </div>
          </div>
          <div class = "col">
            <div class = "box story2">
            <h2>Title</h2>
            <h4>insert description here</h4>
            </div>
          </div>
          <div class = "col">
            <div class = "box story3">
            <h2>Title</h2>
            <h4>insert description here</h4>
            </div>
          </div>
        </div>
          
          <div class = "row">
          <div class = "col">
            <div class = "box story4">
            <h2>Title</h2>
            <h4>insert description here</h4>
            </div>
          </div>
          <div class = "col">
            <div class = "box story5">
            <h2>Title</h2>
            <h4>insert description here</h4>
            </div>
          </div>
          <div class = "col">
            <div class = "box story6">
            <h2>Title</h2>
            <h4>insert description here</h4>
            </div>
          </div>
        </div>
    </div>

      </div>
    </section>

    <section class="cd-section cd-section--bg-fixed">
      <div class="container max-width-sm">
        <div class="text-component text-center">
          <h1>Contact</h1>
        </div>
      </div>
    </section>
</main>