<main>
    <section class="cd-section cd-section--bg-fixed">
      <div class="container max-width-sm">
        <div class="text-component text-center">
          <h1>Black Health Matters</h1>
         </div>
      </div>
    </section>

    <section class="cd-section">
      <div class="container max-width-sm">
        <div class="text-component">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa, eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus!</p>
        </div>
      </div>
    </section>

    <section class="cd-section cd-section--bg-fixed">
      <div class="container max-width-sm">
        <div class="text-component text-center">
          <h1>Stories</h1>
        </div>
      </div>
    </section>

    <section class="cd-section">
      <div class="container max-width-sm">
        <div class="text-component">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa, eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus!
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa, eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus!</p>
        </div>
      </div>
    </section>

    <section class="cd-section cd-section--bg-fixed">
      <div class="container max-width-sm">
        <div class="text-component text-center">
          <h1>Contact</h1>
        </div>
      </div>
    </section>

    <section class="cd-section">
      <div class="container max-width-sm">
        <div class="text-component">
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolore incidunt suscipit similique, dolor corrupti cumque qui consectetur autem laborum fuga quas ipsam doloribus sequi, mollitia, repellendus sapiente repudiandae labore rerum amet culpa inventore, modi non. Quo nisi veritatis vitae nam, labore fugit. Inventore culpa iusto, officia exercitationem. Voluptates quibusdam odit odio incidunt consequatur, consectetur aspernatur optio vitae molestias, quas repellendus fugit ullam culpa, eligendi et dignissimos voluptatibus illum? Molestias aliquam nostrum quasi ipsa culpa, iusto explicabo ut error, consequuntur enim temporibus, adipisci tempora voluptate, id consequatur mollitia eveniet blanditiis. Illo quod repellendus alias? Cum rem doloremque adipisci accusantium? Saepe, necessitatibus!</p>
        </div>
      </div>
    </section>

  
  </main>


<div class="jumbotron">
<h1>Black Health Matters</h1>
<p>
  exploring the untold stories of Baltimore’s largest HBCU
</p>
</div>

<br>
<p>
  (project description)
</p>

<img width="100%" src="https://cdn.glitch.com/4bc50fa3-b891-45da-ad39-d40ad37d0703%2F7207D8A1-A196-479C-B6BD-20FDDFD151A2.mov.03_20_56_21.Still001.jpg?v=1601428437225">


<br>
<br>
<br>
<h1>
  Stories 
</h1>

<p>
  (brief description)
</p>
<br>
<br>
<br>

<div class="stories">
  
</div>

<h1>
  Contact 
</h1>
