<main>
    <section class="cd-section cd-section--bg-fixed">
      <div class="container max-width-sm">
        <div class="text-component text-center first-header">
          <h1><span>Black Health Matters</span></h1>
            <p class="subtext">
              Reporting the medical disparities and untold stories of Baltimore’s largest HBCU
            </p>
         </div>
      </div>
    </section>

    <section class="cd-section cd-section--bg-fixed">
      <div class="container max-width-sm">
        <div class="text-component text-center">
          <h1><span><a href="/stories.html" class="homelinks">Stories</a></span></h1>
        </div>
      </div>
    </section>

    <section class="cd-section cd-section--bg-fixed">
      <div class="container max-width-sm">
        <div class="text-component text-center">
          <h1>Contact</h1>
        </div>
      </div>
    </section>
</main>