<main>
    <section class="cd-section cd-section--bg-fixed">
      <div class="container max-width-sm">
        <div class="text-component text-center first-header">
          <h1 class ="glow">Black Health Matters</h1>
            <p class="subtext">
              Reporting the Medical Disparities and Untold Stories of Baltimore’s Largest HBCU
            </p>
         </div>
      </div>
    </section>

    <section class="cd-section cd-section--bg-fixed description">
      <div class="container max-width-sm">
        <div class="text-component text-center">
          <p>project description</p>
        </div>
      </div>
    </section>
  
    <section class="cd-section cd-section--bg-fixed">
      <div class="container max-width-sm">
        <div class="text-component text-center">
          <h1>Stories</h1>
        </div>
      </div>
    </section>
  
   <section class="cd-section cd-section--bg-fixed">
      <div class="container max-width-sm">
        <div class = "box-container"><div class="container">
  <a class="card1" href="#">
    <h3>This is option 1</h3>
    <p class="small">Card description with lots of great facts and interesting details.</p>
    <div class="go-corner" href="#">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  
  <a class="card2" href="#">
    <h3>This is option 2</h3>
    <p class="small">Card description with lots of great facts and interesting details.</p>
    
    <div class="go-corner" href="#">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  
  <a class="card3" href="#">
    <h3>This is option 3</h3>
    <p class="small">Card description with lots of great facts and interesting details.</p>
    <div class="dimmer"></div>
    <div class="go-corner" href="#">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  
  <a class="card4" href="#">
    
<svg width="32px" height="32px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
    <!-- Generator: Sketch 51.3 (57544) - http://www.bohemiancoding.com/sketch -->
    <desc>Created with Sketch.</desc>
    <defs></defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" stroke-linecap="round" stroke-linejoin="round">
        <g id="Artboard-Copy-19" transform="translate(-874.000000, -1729.000000)" stroke-width="1.5">
            <g id="Group-22" transform="translate(0.000000, 1672.000000)">
                <g id="Group-46" transform="translate(688.000000, 33.000000)">
                    <g id="Group-42" transform="translate(166.000000, 0.000000)">
                        <g id="Group-25" transform="translate(21.000000, 25.000000)">
                            <g id="Group-9" transform="translate(0.000000, 17.666667)">
                                <path d="M14,8.33306667 L14,12.3330667" id="Stroke-3" stroke="#CD3D73"></path>
                                <polyline id="Stroke-1" stroke="#666666" points="18 4.33306667 18 12.3330667 10 12.3330667"></polyline>
                                <polyline id="Stroke-5" stroke="#666666" points="10 5.1332 10 12.3332 2 12.3332 2 6.3332"></polyline>
                                <polygon id="Stroke-7" stroke="#666666" points="9 6.33306667 14 0.333066667 5 0.333066667 0 6.33306667"></polygon>
                            </g>
                            <path d="M20,23.9997333 L14,17.9997333" id="Stroke-10" stroke="#666666"></path>
                            <g id="Group-15" transform="translate(5.666667, 0.000000)" stroke="#666666">
                                <polygon id="Stroke-11" points="9.28906667 7.99973333 16.3330667 -0.000266666667 7.33306667 -0.000266666667 0.289066667 7.99973333"></polygon>
                                <path d="M24.3333333,7.99973333 L16.3333333,-0.000266666667" id="Stroke-13"></path>
                            </g>
                            <path d="M16,6.8148 L16,14.0001333" id="Stroke-16" stroke="#666666"></path>
                            <polyline id="Stroke-17" stroke="#666666" points="28 5.99973333 28 23.9997333 24 23.9997333"></polyline>
                            <path d="M8,13.9997333 L8,7.99973333" id="Stroke-19" stroke="#666666"></path>
                            <path d="M20,8.99973333 L20,9.99973333" id="Stroke-20" stroke="#CD3D73"></path>
                            <path d="M24,8.99973333 L24,9.99973333" id="Stroke-21" stroke="#CD3D73"></path>
                            <path d="M20,13.9997333 L20,14.9997333" id="Stroke-22" stroke="#CD3D73"></path>
                            <path d="M24,13.9997333 L24,14.9997333" id="Stroke-23" stroke="#CD3D73"></path>
                            <path d="M24,18.9997333 L24,19.9997333" id="Stroke-24" stroke="#CD3D73"></path>
                        </g>
                    </g>
                </g>
            </g>
        </g>
    </g>
</svg>
    <h3>This is option 4</h3>
    <p class="small">Card description with lots of great facts and interesting details.</p>
    <div class="dimmer"></div>
    <div class="go-corner" href="#">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  
</div>
<!--         <div class = "row">
          <div class = "col">
          



    <a class="card3" href="#">
    <h3>This is option 3</h3>
    <p class="small">Card description with lots of great facts and interesting details.</p>
    <div class="dimmer"></div>
    <div class="go-corner" href="#">
      <div class="go-arrow">
        →
      </div>
    </div>
  </a>
  </div>
            
    <div class = "col">

<div class="box">
  <div class="overlay">
    <div class="text">Hello World</div>
  </div>
</div>
  </div>
          
          <div class = "row">
          <div class = "col">
            <div class = "box story4">
            <h2>Title</h2>
            <h4>insert description here</h4>
            </div>
          </div>
          <div class = "col">
            <div class = "box story5">
            <h2>Title</h2>
            <h4>insert description here</h4>
            </div>
          </div>
          <div class = "col">
            <div class = "box story6">
            <h2>Title</h2>
            <h4>insert description here</h4>
            </div>
          </div> -->
        </div>
    </div>

      </div>
    </section>

    <section class="cd-section cd-section--bg-fixed">
      <div class="container max-width-sm">
        <div class="text-component text-center">
          <h1>Contact</h1>
          <div class ="colums"
          <div class ="links">
          <a href="https://themsuspokesman.com/">MSU Newspaper Website</a>
            <br>
            <a href="https://twitter.com/themsuspokesman?s=09">Twitter</a>
            <br>
            <a href="https://instagram.com/msuspokesman?igshid=16ty23lazidvt">Instagram</a>
            <br>
            <a href="https://www.facebook.com/msuspokesman/">Facebook</a>
            <br>
            <a href="mailto:themsuspokesman@gmail.com">Gmail</a>
            </div>
          <div class ="names">
          <p>
            Editor-in-Chief: Oyin Adedoyin
          </p>
          </div>
        </div>
      </div>
    </section>
</main>