<main>
  <section class="cd-section cd-section--bg-fixed">
    <div class="container max-width-sm">
      <div class="text-component text-center first-header">
        <h1 class="glow">Black Health Matters</h1>
        <p class="subtext">
          Reporting the Medical Disparities and Untold Stories of Baltimore’s
          Largest HBCU
        </p>
      </div>
    </div>
  </section>

  <section class="cd-section cd-section--bg-fixed description">
    <div class="container max-width-sm">
      <div class="text-component text-center">
        <br>
        <h2>We Remove Barriers</h2>
<p class="color">that keep people from securing long term employment, such as: finances, legal, soft skills, childcare, transportation, and education.</p>

<p class="color"><strong>TRANSPORTATION</strong><br>
We cover transportation costs including public transportation and ride shares to get to jobs and interviews.</p>

        <p class="color"><strong>CRIMINAL RECORD</strong><br>
Enrollment in Public Defender's Clean Slate Program that reduces and expunges criminal records.</p>

<P class="color"><strong>JOB READINESS</strong><br>
  We prepare participants to succeed in the workplace with a unique curriculum that covers technical skills, soft skills, interview prep, resume creation, 1-on-1 mentorship and off-sites led by some of the best tech companies in the Bay Area.</p>

<p class="color"><strong>PARTNERSHIPS</strong><br>
We connect local businesses and major tech companies and non-profits with the right candidates for long-term job placement.</p>

<p class="color"><strong>OBSTACLES</strong><br>
Previous history with difficult issues including substance abuse, mental health, education level, personal finances or criminal record does not disqualify you from securing work.</p>
        <br>
        </p>
      </div>
    </div>
  </section>
    
   <section class="cd-section cd-section--bg-fixed">
    <div class="container max-width-sm">
      <h1 class="glow">Stories</h1>
    </div>
  </section>

  <section class="cd-section cd-section--bg-fixed">
    <div class="container max-width-sm">
      <div class="box-container">
        <div class="container">
            <a class="card" href="#">
              <h3 class="size">This is option 1</h3>
              <p class="small">
                Card description with lots of great facts and interesting
                details.
              </p>
              <div class="go-corner" href="#">
                <div class="go-arrow">
                  →
                </div>
              </div>
            </a>

          <a class="card" href="#">
            <h3 class="size">This is option 2</h3>
            <p class="small">
              Card description with lots of great facts and interesting details.
            </p>

            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>

          <a class="card" href="#">
            <h3 class="size">This is option 3</h3>
            <p class="small">
              Card description with lots of great facts and interesting details.
            </p>
            <div class="dimmer"></div>
            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>

          <a class="card" href="#">
            <h3 class="size">This is option 1</h3>
            <p class="small">
              Card description with lots of great facts and interesting details.
            </p>
            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>

          <a class="card" href="#">
            <h3 class="size">This is option 2</h3>
            <p class="small">
              Card description with lots of great facts and interesting details.
            </p>

            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>

          <a class="card" href="#">
            <h3 class="size">This is option 3</h3>
            <p class="small">
              Card description with lots of great facts and interesting details.
            </p>
            <div class="dimmer"></div>
            <div class="go-corner" href="#">
              <div class="go-arrow">
                →
              </div>
            </div>
          </a>
        </div>
      </div>
    </div>
  </section>

  <section class="cd-section cd-section--bg-fixed">
    <div class="container max-width-sm">
      <h1 class="glow">Contact</h1>
    </div>
  </section>

  <section class="cd-section cd-section--bg-fixed description">
    <div class="container max-width-sm">
<!--       <div class="text-component text-center"> -->
      
      <table>
        <h3>
            our site 
          </h3>
        <br>
          <a href="https://themsuspokesman.com/"><p class = "color hover">
            MSU Spokesman
            </p></a>
        <h3>
            follow us
          </h3>
      </table>  hi 
          <div class="home-share-buttons" data-source="simplesharingbuttons.com">
                <p>
                  
              <a
                  href="https://www.facebook.com/msuspokesman/"
                  ><img
                    src="https://cdn.glitch.com/4bc50fa3-b891-45da-ad39-d40ad37d0703%2FFacebook%5B1%5D.png?v=1602033701267"/>
                </a>
                <a
                  href="https://twitter.com/themsuspokesman?s=09"
                  ><img
                    src="https://cdn.glitch.com/4bc50fa3-b891-45da-ad39-d40ad37d0703%2FTwitter%5B1%5D.png?v=1602033729015"
                /></a>
              </div>
        </div>
      <div class = "col">
        <h3>
          email us 
        </h3>
        <br>
         <div class="home-share-buttons" data-source="simplesharingbuttons.com">
         <a
            href="mailto:themsuspokesman@gmail.com"
            ><img
            alt="Send email"
            src="https://cdn.glitch.com/4bc50fa3-b891-45da-ad39-d40ad37d0703%2FEmail%5B1%5D.png?v=1602033669115"
            /></a>
         </div>
      </div> 
      </div>
      
        
<!--         <table style="width:100%">
  <tr>
    <th>
      <div class="links">
              <a href="https://themsuspokesman.com/">MSU Newspaper Website</a>
              <br />
              <a href="https://twitter.com/themsuspokesman?s=09">Twitter</a>
              <br />
              <a href="https://instagram.com/msuspokesman?igshid=16ty23lazidvt"
                >Instagram</a
              >
              <br />
              <a href="https://www.facebook.com/msuspokesman/">Facebook</a>
              <br />
              <a href="mailto:themsuspokesman@gmail.com">Gmail</a>
            </div>
          </div> 
        </th>
  </tr>
  <tr> 
      <th>
              <div class="home-share-buttons" data-source="simplesharingbuttons.com">
                <p>
                  
              <a
                  href="https://www.facebook.com/sharer/sharer.php?u=&quote="
                  title="Share on Facebook"
                  target="_blank"
                  onclick="window.open('https://www.facebook.com/sharer/sharer.php?u=' + encodeURIComponent(document.URL) + '&quote=' + encodeURIComponent(document.URL)); return false;"
                  ><img
                    src="https://cdn.glitch.com/4bc50fa3-b891-45da-ad39-d40ad37d0703%2FFacebook%5B1%5D.png?v=1602033701267"/>
                </a>
                <a
                  href="https://twitter.com/intent/tweet?source=&text=:%20"
                  target="_blank"
                  title="Tweet"
                  onclick="window.open('https://twitter.com/intent/tweet?text=' + encodeURIComponent(document.title) + ':%20'  + encodeURIComponent(document.URL)); return false;"
                  ><img
                    src="https://cdn.glitch.com/4bc50fa3-b891-45da-ad39-d40ad37d0703%2FTwitter%5B1%5D.png?v=1602033729015"
                /></a>
                <a
                  href="mailto:?subject=&body=:%20"
                  target="_blank"
                  title="Send email"
                  onclick="window.open('mailto:?subject=' + encodeURIComponent(document.title) + '&body=' +  encodeURIComponent(document.URL)); return false;"
                  ><img
                    alt="Send email"
                    src="https://cdn.glitch.com/4bc50fa3-b891-45da-ad39-d40ad37d0703%2FEmail%5B1%5D.png?v=1602033669115"
                /></a>
              </div>
            </div>
          </div>
        </th>
  </tr>
</table> -->
        
<!--       </div> -->
    </div>
  </section>

</main>
