<br>
<br>
<br>
<h1>
  Meet the Staff
</h1>

<div class="mtt-container">
  
<div class="mtt-card">
  <img src="https://cdn.glitch.com/b6303540-e7b2-4589-b2ab-bfbe7afbb400%2Fthumbnails%2FA784F529-BDD4-4A30-96E7-2E7AFF563D5B-300x396.jpeg?1602369912884" alt="Oyin" class="mtt-image" style="width:100%">
  <div class="mtt-card-middle">
    <div class="mtt-card-text">Oyin Adedoyin</div>
  </div>
</div>
  
<div class="mtt-card">
  <img src="https://cdn.glitch.com/b6303540-e7b2-4589-b2ab-bfbe7afbb400%2Fthumbnails%2FBE2901F7-8352-4FE4-8694-99E6B36A9037-300x384.jpeg?1602369915747" alt="Brianna" class="mtt-image" style="width:100%">
  <div class="mtt-card-middle">
    <div class="mtt-card-text">Brianna Taylor</div>
  </div>
</div>
  
<div class="mtt-card">
  <img src="https://cdn.glitch.com/b6303540-e7b2-4589-b2ab-bfbe7afbb400%2FIMG_6909-300x217.jpg?1602369923356" alt="Aziah" class="mtt-image" style="width:100%">
  <div class="mtt-card-middle">
    <div class="mtt-card-text">Aziah Siid</div>
  </div>
</div>
  
<div class="mtt-card">
  <img src="https://cdn.glitch.com/b6303540-e7b2-4589-b2ab-bfbe7afbb400%2FChloe-Johnson-Headshot--70x70.jpg?1602369919652" alt="Chloe" class="mtt-image" style="width:100%">
  <div class="mtt-card-middle">
    <div class="mtt-card-text">Chloe Johnson
      
    </div>
  </div>
</div>
  

<!--
<div class="mtt-card">
  <img src="" alt="" class="mtt-image" style="width:100%">
  <div class="mtt-card-middle">
    <div class="mtt-card-text"></div>
  </div>
</div>
-->
</div>
  