<br>
<br>
<br>
<h1>
  Meet the Staff
</h1>

<p>
  Editor-in-Chief: Oyin Adedoyin (yade6@morgan.edu) 
</p>

<p>
  Managing Editor: Brianna Taylor (brtay22@morgan.edu)
</p>

<p>
  Campus News Editor: Aziah Siid (azsii1@morgan.edu)
</p>

<p>
  Features Editor: Chloe Johnson (chjoh67@morgan.edu)
</p>

<p>
  Social Media Manager: Jamira Newby (janew11@morgan.edu)
</p>

<p>
  Visual Editor: TBA
</p>

<p>
  Sports Editor: Tariq Turner (tatur7@morgan.edu)
</p>

<p>
  Spokesman Staff Writers/Contributors: <br> Jordan D. Brown
  <br> Trae Mitchell <br> NaTavia Williams
</p>

<p>
  Staff Photographers: Jordan D. Brown
</p>

<p>
  Faculty Advisors: <br>
  Milton Kent (milton.kent@morgan.edu) <br>
  Edward Robison (edward.robinson@morgan.edu)
</p>

<!-- <p>
<img width="8%" src="https://www.edigitalagency.com.au/wp-content/uploads/instagram-logo-svg-vector-for-print.svg">
<img width="8%" src="https://1000logos.net/wp-content/uploads/2017/06/Twitter-Logo.png">
<img width="8%" src="https://lh3.googleusercontent.com/proxy/8HQogxnkF4n6X0QB7ZAjMoLfcqAtcqnjoqarOMOn1poDas3idWn26HeobpKGuWbgupZI2aakv-1qKyC6F5DrHn_Q-Q53R0hpzO7ZAtoNRGDq2KuM2UE">
</p> -->
  