<div class="pullout container-flex">
  <div class="row">
    <div class="quote col-sm">
      <h2>
        Why Black Women Are Dying of Breast Cancer at Higher Rates than White
        Women
      </h2>

      <p class="slug">
        There is a 2.6 percent chance a woman will die from breast cancer. Black
        women make up a large portion of that small percentage, with a 40
        percent higher death rate.
      </p>
      <hr class="class-6" />
      <p class="author">
        Jordan D. Brown, Staff Writer
      </p>
      <p class="date">
        October 30, 2020
      </p>
    </div>
  </div>
</div>
<div class="full-width-background">
  <div class="container-md story-content">
<p>
  
    </p>
Last semester, Morgan State President David Wilson received an influx of requests from students seeking residence on campus and with only 300 slots to give, he was forced to turn students away. But this semester, the university is scrambling to fill vacancies after more than doubling its slots.

Only 500 students have agreed to live on campus—300 of which have returned from the previous semester. With roughly 400 students living in off-campus housing, it’s left 100 vacant slots to fill, according to Kevin Banks, Vice President of Student Affairs.

“We planned to expand up to 1,000 students, but unfortunately the virus is still raging and I think it's really impacting families and students' decisions,” Banks said.

The university has turned Harper Tubman, Baldwin Hall, Cummings Hall and Rawlings Hall into single rooms while Blount Towers and O’Connell Hall remain vacant. Morgan View, Marble Hall Gardens and HH Midtown are available for off-campus housing while Thurgood Marshall remains a quarantine facility. 

The university was also interested in expanding its on-campus faculty personnel to roughly 120 professors teaching face-to-face instruction. That number has since been reduced to 43 faculty members.

Students are still tested for the coronavirus twice a week. But the university is exploring the idea of expanding its testing site locations around campus to make the process less strenuous on students, according to Health Center Director Ruth Agwuna. 

The Morgan community can also expect a shift from the PCR test, which produces results in two days, to the antigen test that produces results within 20 minutes. 

“We can quickly isolate those people who may test positive and spare people in the community,” Agwuna said. “The expansion of vaccine distribution to colleges and universities as part of Maryland’s Phase 1B vaccination plan has opened the discussion of whether Morgan State will become a vaccination site.”

On Jan. 22, Morgan’s administration met with State of Maryland officials and members of the National Guard to discuss the possibilities of a drive-thru and walk-in vaccination site on campus. Although the process is in its beginning stage, vaccination rollout is expected by the end of February in the Murphy Fine Arts parking lot and Lake Clifton Eastern High School, according to Banks.

But students are already wary. Civil engineering major Princess Vasquez, a freshman and returning on-campus resident, plans to move back to her New Jersey home if the vaccination becomes a requirement to remain on campus. 

“I don't think I’ll be comfortable taking it,” Vasquez said. 

Agwuna said the School of Nursing and the athletic department have been assisting with immunization efforts but because students usually register for housing right before the application closes, it’s difficult to predict how many students they can expect to get vaccinated. 

“If we become a vaccination site, we’d like to provide opportunities for our faculty, staff and students to be vaccinated right here at Morgan State University,” Banks said.




This story is a part of “Black Health Matters,” a year-long reporting program through The Poynter Institute’s College Media Project. The project’s objective: to tell health-related stories through the lens of Black college students, while examining possible solutions.
    
    <div class="image-with-caption">
      <img
        lt="Hope Egie (left) smiles in a family photo with her mother Isimeme Akoko (upper left)"
        src="https://cdn.glitch.com/03f006d0-e079-4e82-9710-e203769a31d8%2FHope%20Egie%20(left)%20smiles%20in%20a%20family%20photo%20with%20her%20mother%20Isimeme%20Akoko%20(upper%20left).%20(Courtesy%20of%20Hope%20Egie).jpg?v=1604084969326"
      />
      <footer class="image-caption">
        Hope Egie (left) smiles in a family photo with her mother Isimeme Akoko
        (upper left)
      </footer>
      <footer class="image-caption">
        Photo Courtesy Of: Hope Egie
      </footer>
      <br />
    </div>

    <p>
      In the average human lifetime, about one in eight women are infected with
      breast cancer, the second most common cancer diagnosed among American
      women according to Breastcancer.org. Although only 12 percent of women are
      diagnosed with breast cancer in their lifetime, the disease has affected
      everyone in the nation, whether they personally suffered from it or
      witnessed a loved one fight through it.
    </p>
    <p>
      There is a 2.6 percent chance a woman will die from breast cancer. Black
      women specifically make up a large portion of that small percentage of
      women. They have a 40 percent higher death rate than White women according
      to the Centers for Disease Control and Prevention (CDC).
    </p>
    <p>
      When Black women are infected with breast cancer, they are two times more
      likely to get triple-negative breast cancer (TNBC), an aggressive form of
      breast cancer that often comes back after treatment, in comparison to
      White women.
    </p>
    <p>
      TNBC is different from other forms of breast cancer because of its failure
      to respond to hormonal therapy, according to Patience Ekeocha, nurse
      practitioner and associate director of the Morgan State University Health
      Center.
    </p>
    <p>
      “Triple-negative subtype is basically the breast cancer that tests
      negative for estrogen receptors. This cancer does not respond to hormonal
      therapy. You can use hormonal therapies for other breast cancers, but this
      cancer does not respond to it,” Ekeocha said.
    </p>
    <p>
      The Johns Hopkins University School of Medicine’s Department of Oncology
      and the Sidney Kimmel Comprehensive Cancer Center at Johns Hopkins studied
      the racial disparity and triple negative breast cancer among Black women.
      The studies reported some of the characteristics of TNBC in Black women
      are larger tumors and further advanced stages at the diagnosis compared to
      White women.
    </p>
    <p>
      There has been some progress with learning more about triple negative
      breast cancer, according to Karen E. Jackson, four-time breast cancer
      survivor and CEO of Sisters Network, a national African American breast
      cancer survivorship organization. Jackson said that doctors didn’t even
      have a name for the type of cancer in the ‘90s.
    </p>
    <p>
      “All they would say is that African American women were too lazy, we
      didn’t want to take care of our health,” Jackson said. “It was all about
      what we didn’t do and not that the particular cancer was aggressive.”
    </p>
    <p>
      As reported by Johns Hopkins University, 30 percent of Black women
      diagnosed with breast cancer are likely to have TNBC, compared to 16
      percent of White women.
    </p>
    <p>
      Otis Brawley, Bloomberg Distinguished Professor of Oncology from Johns
      Hopkins University, argued that the claim that Black women get TNBC more
      than White women is an exaggeration and the focus should be on the number
      of Black women that do not seek medical attention.
    </p>
    <p>
      “The biggest problem is that black women with breast cancer are less
      likely to get optimal therapy and actually the therapy issues are worse
      for the 76 percent of Black women who do not have triple negative breast
      cancer,” Brawley said.
    </p>
    <p>
      While this could be the case for those women, there have been several
      cases where Black women sought medical attention and it was not enough. In
      Akoko’s case, her doctors dismissed her health concerns and did not take
      her seriously.
    </p>
    <p>
      “Her doctor would usually either write a prescription for her to take for
      the time being or they’d just say, ‘It’s a side effect, it’s normal’ even
      though she would express she felt like it wasn’t something that was
      normal,” Egie said. “They’d kind of like push it off as something like
      ‘Oh, she’s exaggerating’ or it’s something that’s not that serious for the
      time being.’”
    </p>
    <p>
      In situations like, some believe that Black women’s health concerns are
      not taken as seriously as they should be until it is too late.
    </p>
    <p>
      “There’s a lack of emphasis on getting people good high-quality care once
      diagnosed,” Brawley said. “Those whose lives could have been saved, the
      majority die because they don’t get good high-quality treatment.”
    </p>

    <p class="colophon">
      Hershaw’s story is a part of “Black Health Matters,” a year-long reporting
      program through
      <a
        href="https://www.poynter.org/from-the-institute/2020/poynter-announces-the-10-student-media-publications-selected-for-its-2020-21-college-media-project/"
        >The Poynter Institute’s College Media Project</a
      >. The project’s objective: to tell health related stories through the
      lens of Black college students, while examining possible solutions.
    </p>
  </div>
</div>
