<div class="pullout container-flex">
  <div class="row">
    <div class="quote col-sm">
      <h2>
        Racism is the public health crisis, covid-19 is the symptom experts say
      </h2>

      <p class="slug">
        Local governments are beginning to declare racism as a public health
        emergency
      </p>
      <hr class="class-6" />
      <p class="author">
        Oyin Adedoyin, Editor in Chief
      </p>
      <p class="date">
        November 23, 2020
      </p>
    </div>
  </div>
</div>
<div class="full-width-background">
  <div class="container-md story-content">
    

    <p>
      The fact that COVID-19 is affecting Black Americans at a higher rate is
      not a surprise to most public health experts. But its cause is rooted in
      something deeper than the pandemic and stretches long before this year.
    </p>
    <p>
      “Right now, we are battling two pandemics,” said Sylvette A. La
      Touche-Howard, associate clinical professor in the University of Maryland,
      School of Public Health.
    </p>
    <p>
      Public health representatives say that systemic racism leaves communities
      of color more susceptible to health-related ailments than their White
      counterparts. The resurgence of the Black Lives Matter movement and the
      disproportionate effects of COVID-19, have encouraged local government
      involvement.
    </p>
    <p>
      <a target="_blank" href="https://coronavirus.maryland.gov/">African Americans are leading in COVID-19 cases in the state</a>, according to
      data from the Maryland Department of Health.
    </p>
    <p>
      “We really have to dig deeper and look at ‘what is this concept of race
      and how and why should that determine someone’s health outcome?’” La
      Touche-Howard said.
    </p>
    <p>
      The American Association of Public Health (AAPH) has declared racism as a
      public health issue. The association is keeping track of counties across
      the country that are making similar announcements.
    </p>
    <p>
      This year, the resurgence of the Black Lives Matter movement has placed a
      magnifying glass on the issues of systemic racism, pushing local leaders
      to address racism in healthcare.
    </p>
    <p>
      As COVID-19 cases spike across the country, experts say that the
      disproportionate effects of the virus in minority communities is just
      another reason to pay attention to racial disparities.
    </p>
    <p>
      “You’ve begun to see people push a political agenda where racism has to be
      recognized as problematic,” said Kim Sydnor, dean of the School of
      Community Health and Policy at Morgan State University.
    </p>
    <div class="image-with-caption">
      <img
        width="100%"
        alt="The following displays the percentage of persons of all ages in fair and poor health by race, according to CDC data."
        src="https://cdn.glitch.com/03f006d0-e079-4e82-9710-e203769a31d8%2FPercentage%20of%20Persons%20of%20all%20Ages%20in%20Fair%20or%20Poor%20Health.svg?v=1606160974418"
      />
      <footer class="image-caption">
        The following displays the percentage of persons of all ages in fair and poor health by race, according to CDC data.
      </footer>
      <footer class="image-credit">
        Chart By: Oyin Adedoyin
      </footer>
    </div>
    <p>
      Last year, Steuwart Pitman, the Anne Arundel County executive, and Health
      Officer Nilesh Kalyanaraman declared racism as a public health issue. In
      June, the <a target="_blank" href="https://www2.montgomerycountymd.gov/mcgportalapps/Press_Detail.aspx?Item_ID=25454&Dept=1">Montgomery County Council passed a resolution</a> declaring racism a
      public health emergency.
    </p>
    <p>
      According to the Centers for Disease Control and Prevention, <a target="_blank" href="https://www.cdc.gov/nchs/fastats/black-health.htm">more than 13
      percent of African Americans</a> of all ages are in fair or poor health
      compared to more than 9 percent of the White population, more than 8
      percent of the Asian or Pacific Islander population and 10 percent of the
      Hispanic population.
    </p>
    <p>
      The one population higher than the Black population is the Native American
      population. More than 17 percent of Native Americans of all ages are in
      fair or poor health.
    </p>
    <p>
      “These declarations are an important first step in the movement to advance
      racial equity and justice and must be followed by allocation of resources
      and strategic action,” the APHA said on their <a target="_blank" href="https://www.apha.org/topics-and-issues/health-equity/racism-and-health/racism-declarations">website</a>.
    </p>
    <p>
      Black people are leading in a number of health-related illnesses.
      Cardiovascular diseases, respiratory diseases, diabetes, lung cancer and
      hypertension are just a few, according to La Touche-Howard.
    </p>
    <p>
      Where a person lives, their healthcare access, job and socioeconomic
      status all play a role in their health outcome, but so does a person’s
      race.
    </p>
    <p>
      “Two babies, born in the same hospital, on the same day and the label on
      the White baby versus the label on the Black baby are two totally
      different things,” La Touche-Howard said. “That’s a public health
      problem.”
    </p>
    <p>
      “That should not be. If they both have the same genetic makeup and they’re
      both born in the same place, the same doctor delivered them, one would
      think that their trajectory in life would be the same. However, it’s not
      and it’s a vast difference.”
    </p>
    <p>
      While public health organizations are pushing for legal change, there is
      still concern about lack of recognition from the highest government
      office.
    </p>
    <p>
      In September, the Trump administration released an <a target="_blank" href="https://www.whitehouse.gov/presidential-actions/executive-order-combating-race-sex-stereotyping/">executive order</a> on
      combating race and sex stereotyping.
    </p>
    <p>
      The order urged against racial discrimination by quoting famous words from
      President Abraham Lincoln and Martin Luther King, Jr. It urged readers not
      to believe ideologies of racism and sexism in America and that racial
      sensitivity trainings perpetuate “racial stereotypes and division.”
    </p>
    <p>
      The Association of American Medical Colleges (AAMC) critiqued the order.
    </p>
    <p>
      According to an AAMC <a target="_blank" href="https://www.aamc.org/news-insights/press-releases/aamc-statement-executive-order-combating-race-and-sex-stereotyping">statement</a>, the administration’s document “exhibits a
      misunderstanding of most diversity and inclusion training programs and
      therefore will only further divide an already fragmented nation.”
    </p>
    <p>
      The AAMC added that the devastating effects of the COVID-19 pandemic and
      protests for Black lives show that racial biases in America persist and
      are detrimental to the country’s minority population.
    </p>
    <p>
      “Yes; disparities are real, inequities are real, and they have a racial
      bias,” Sydnor said.
    </p>
    <p>
      The Association of American Medical Colleges agrees. It has established an
      antiracist framework to address health disparities within communities of
      color. “Race is a social construct,” said Sherese Johnson, AAMC public
      health initiatives director. “It is not rooted in something that is
      biological and part of that means that we have to change the narrative.”
    </p>

    <p class="colophon">
      This story is a part of “Black Health Matters,” a year-long reporting
      program through
      <a
        href="https://www.poynter.org/from-the-institute/2020/poynter-announces-the-10-student-media-publications-selected-for-its-2020-21-college-media-project/"
        >The Poynter Institute’s College Media Project</a
      >. The project’s objective: to tell health related stories through the
      lens of Black college students, while examining possible solutions.
    </p>
  </div>
</div>
