<div class="pullout">
  <div class="image-with-caption">
    <img
      alt="header_image1"
      src="https://static01.nyt.com/images/2020/05/21/fashion/21TECHHERO-1/merlin_169428510_13d10127-9d13-4a2c-aa86-970fe5f2fffc-superJumbo.jpg?quality=90&auto=webp"
    />
    <p class="caption">
      Pillar of the community: Mr. Seymour
    </p>
    <p class="credit">
      Ian C. Bates for The New York Times
    </p>
  </div>
  <div class="quote">
    <h2>
      Tech Is a Citadel. Del Seymour Built a Drawbridge
    </h2>

    <p class="slug">
      A former drug dealer whose nonprofit helped transform the Tenderloin
      district joins the front lines of San Francisco’s coronavirus response.
    </p>

    <hr class="class-6" />
    <p class="author">
      Author Name
      <br />
      Date Published
    </p>
  </div>
</div>
<div class="container-md story-content">
  <p>
    SAN FRANCISCO — On his walking tours of the Tenderloin, a historically seamy
    neighborhood named for a cut of beef, Del Seymour passes Boeddeker Park, now
    a verdant jewel of urbanity. Eleven years ago, it was a notorious hellhole
    where Mr. Seymour, then a crack addict, dealer and pimp, shooed away
    do-gooders from the local church because, as he put it, “I’m selling dope
    here and you’re disturbing my business.”
  </p>
  <p>
    Mr. Seymour’s transformation from disheveled drug user to community leader
    and informal adviser to Dolby, Zendesk, Twitter and other tech companies
    began at the park. A church deacon noticed his sartorial flair and brought
    Mr. Seymour a Pierre Cardin suit.
  </p>
  <p>
    Seeing himself in natty new attire helped shift Mr. Seymour’s perception of
    his self-worth, eventually leading him back to the church.
  </p>
  <p>
    All those years of sleeping in doorways and beneath freeways gave Mr.
    Seymour a profound understanding of San Francisco’s most vulnerable
    residents: Tenderloin denizens whose lives stand in stark relief to the
    young tech employees who get signing bonuses and dine in airy cafeterias
    with private roof gardens on the neighborhood’s periphery.
  </p>
  <p>
    “You go to Vegas, you do Vegas,” said Mr. Seymour, 74, who leads tours in
    his signature fedora. “I went to the Tenderloin and did the Tenderloin.”
  </p>
  <p>
    The brigade of tech companies now along Market Street, including recipients
    of the 2011 so-called Twitter tax break, which expired last year, brought
    thousands of well-paid jobs to the mid-Market area and cemented the city’s
    reputation as the vertiginous epicenter of income inequality.
  </p>

  <div class="image-with-caption">
    <img
      src="https://static01.nyt.com/images/2020/05/21/fashion/21TECHHERO-5/merlin_169428393_0cfc43d6-a8d4-4c75-b913-ab8ffb3741b0-superJumbo.jpg?quality=90&auto=webp"
    />
    <p class="caption">
      Mr. Seymour with a group from Glide Memorial United Methodist Church at
      PianoFight, a bar and entertainment venue that also doubles as Code
      Tenderloin’s day time teaching and resource facility.
    </p>
    <p class="credit">
      Ian C. Bates for The New York Times
    </p>
  </div>
</div>
