<div class="pullout container-flex">
  <div class="row">
    <div class="image-with-caption col-sm">
      <!-- TODO: move this header-image class to the parent div or style based on .pullout > image-with-caption -->
      <img
        class="header-image"
        alt="Senior nursing student Kye Stewart hopes to work in the intensive care unit (ICU) after graduation."
        src="https://cdn.glitch.com/03f006d0-e079-4e82-9710-e203769a31d8%2FSenior%20nursing%20student%20Kye%20Stewart%20hopes%20to%20work%20in%20the%20intensive%20care%20unit%20(ICU)%20after%20graduation..jpg?v=1603911797237"
      />
      <footer class="header-caption image-caption">
        Senior nursing student Kye Stewart hopes to work in the intensive care unit (ICU) after graduation.
      </footer>
      <footer class="header-credit image-caption">
        Photo Courtesy Of: Kye Stewart
      </footer>
      <br />
    </div>
    <div class="quote col-sm">
      <h2>
        The nursing field, known for being dominated by White women is making
        space for a growing population. Black men.
      </h2>

      <p class="slug">
        While diversity in the nursing industry is growing, Black nurses make up
        less than 16 percent of the field and Black male nurses make up even less.
      </p>
      <hr class="class-6" />
      <p class="author">
        Tariq Turner, Sports Editor
      </p>
      <p class="date">
        October 28, 2020
      </p>
    </div>
  </div>
</div>
<div class="full-width-background">
  <div class="container-md story-content">
    <p>
      East Baltimore native Hershaw Davis Jr. has been teaching in Morgan
      State’s nursing department since 2018.
    </p>
    <p>
      He was asked to join the university’s faculty by nursing director Maija
      Anderson after he visited Morgan for National Nurses Week.
    </p>
    <p>
      Although he has enjoyed a successful career as a registered nurse, Davis
      Jr. didn’t always envision himself in the profession.
    </p>
    <p>
      Growing up, most Black men who Davis Jr. knew pursued careers in either
      engineering, business, or law. But not in nursing.
    </p>
    <p>
      “I didn’t see many Black male nurses, so I didn’t think about nursing as
      an option for a Black male,” Davis Jr. said.
    </p>
    <p>
      As of 2017, less than 16 percent of registered nurses in the U.S. were
      Black, and that figure was even lower for Black men, according to the
      <a target="_blank" href="https://www.ncsbn.org/workforce.htm">National Nursing Workforce Survey</a> from the National Council of State
      Boards of Nursing (NCSBN).
    </p>
    <p>
      The stereotype of nursing being associated with femininity dates back to
      the 16th century, according to pediatric nurse practitioner Ersilia
      Pompilio.
    </p>
    <p>
      She said that during the Protestant Reformation, nursing and housework was
      considered a “woman’s job.”
    </p>
    <p>
      Before Davis Jr. became a nurse, he worked for The U.S. Department of
      Defense. He always wanted a job where he could help people, so Davis Jr.
      switched career paths while he was in his 30s.
    </p>
    <p>
      Inspired by an ad in the newspaper, he decided to become a certified
      nursing assistant (CNA).
    </p>
    <p>
      He started working at Johns Hopkins Hospital in the surgical stepdown and
      oncology unit, and eventually made his way to the emergency department.
    </p>
    <p>
      In 2008, he became an emergency department technician where he assisted
      doctors and nurses with treating patients. He later worked as a registered
      nurse and a case manager.
    </p>
    <p>
      Davis Jr. said that while working at Hopkins, there were times when he
      only counted about four Black male nurses in a department of over 200
      people. He also worked in medical facilities in rural areas where there
      have been only one or two Black nurses in the entire department.
    </p>
    <div class="image-with-caption">
      <img
        alt="Hershaw Davis Jr. poses with his co-workers."
        src="https://cdn.glitch.com/03f006d0-e079-4e82-9710-e203769a31d8%2FHershaw%20Davis%20Jr.%20poses%20for%20a%20photo%20with%20his%20co-workers.jpg?v=1603910051493"
      />
      <footer class="image-caption">
        Hershaw Davis Jr. poses with his co-workers.
      </footer>
      <footer class="image-caption">
        Photo Courtesy Of: Hershaw Davis Jr.
      </footer>
      <br />
    </div>
    <p>
      Two years ago, Davis Jr. spoke to Morgan students at a healthcare event
      along with another Black male nurse.
    </p>
    <p>
      He told the students that if they were to work in a health facility, it
      would be rare for them to see many Black male nurses.
    </p>
    <p>
      “Seeing two of us, you all are lucky,” Davis Jr. said. “You will never see
      this again.”
    </p>
    <p>
      During his career, he has experienced both racial and gender biases.
    </p>
    <p>
      He is often the first one called to do the physical aspects of nursing
      like lifting patients.
    </p>
    <p>
      “I’m getting paid to be a nurse and take care of patients,” Davis Jr.
      said. “Not to be your personal bodybuilder.”
    </p>
    <p>
      Black male nurses have faced gender discrimination for decades.
    </p>
    <p>
      In 1979, Joe Hogan, a Black male nurse living in Mississippi, was denied
      admission to the nursing program at the Mississippi University for Women
      because of his gender.
    </p>
    <p>
      Davis Jr. received his undergraduate nursing degree from the University of
      Maryland in Baltimore (UMB) and his Master of Science in nursing from the
      University of Virginia.
    </p>
    <p>
      He said he has had patients refuse his care and view him as less qualified
      because of his skin color. Some of his co-workers and patients have had a
      hard time grasping the fact that a Black man like himself could be
      well-educated.
    </p>
    <p>
      “My mere existence is cognitive dissonance for them,” he said.
    </p>
    <p>
      Davis Jr. began teaching at Morgan so that he could help the next
      generation of Black male nurses prepare for their professional careers.
    </p>
    <p>
      One of his former students is Salisbury, Md. native Kye Stewart.
    </p>
    <p>
      The senior nursing student said that growing up, he often frequented the
      hospitals as a patient.
    </p>
    <p>
      The quality of care he received from the nurses inspired him to pursue the
      field.
    </p>
    <p>
      Stewart said that some men shy away from a nursing career because of the
      stereotypes associated with being a male nurse. He said that many people
      view nursing as feminine.
    </p>
    <p>
      “There’s not a lot of male nurses in general, let alone Black male
      nurses,” Stewart said.
    </p>
    <p>
      However, surveys show that the number of Black male nurses is growing.
      According to the NCSBN, the number of male nurses in 2017 was 2 percent
      higher than in 2013.
    </p>
    <p>
      And a 2009 study of Black men in nursing conducted by sociologist Adia
      Wingfield suggested that Black men were not bothered by gender
      stereotypes, for the most part.
    </p>
    <p>
      Recent research supports Wingfield’s study.
    </p>
    <p>
      According to the Bureau of Labor Statistics, there is expected to be more
      than <a target="_blank" href="https://www.bls.gov/opub/mlr/2015/article/industry-employment-and-output-projections-to-2024.htm">735,000 jobs</a> added in nursing by 2024. As a result, the percentage of
      male nurses is expected to increase.
    </p>
    <p>
      “Heretofore males were more visible in health care agencies and
      institutions such as the armed forces and government run hospitals,” said
      Joan Tilghman, the chair of Coppin State University’s nursing program. “I
      am encouraged that male representation has increased significantly in our
      discipline.”
    </p>
    <p>
      Stewart has enjoyed his experience being a male nursing student at Morgan.
    </p>
    <p>
      According to Stewart, the comprehensive nursing courses and the skills
      laboratory Morgan’s nursing program provides have helped him tremendously.
      He said that the program’s teachers also provide a solid framework for
      students.
    </p>
    <p>
      “It makes it easier for you down the line,” Steward said.
    </p>
    <p>
      Stewart is currently receiving clinical experience at Johns Hopkins
      Hospital and the Baltimore homeless shelter Project PLASE.
    </p>
    <p>
      He said some of the male patients he has treated have preferred a male
      nurse as opposed to being treated by a female nurse.
    </p>
    <p>
      Stewart hasn’t experienced a racially charged encounter at work but said
      that if he were to experience one, he wouldn’t let it get in the way of
      him getting his job done effectively.
    </p>
    <p>
      “As long as my co-workers can cooperate with me enough to get the job
      done, you can think whatever you want about me,” he said.
    </p>
    <p>
      After graduating, Stewart hopes to work in the intensive care unit (ICU).
      He said that he’s excited to experience the constant action that happens
      in the ICU.
    </p>
    
    <p class="colophon">
      Hershaw’s story is a part of “Black Health Matters,” a year-long reporting
      program through
      <a
        href="https://www.poynter.org/from-the-institute/2020/poynter-announces-the-10-student-media-publications-selected-for-its-2020-21-college-media-project/"
        >The Poynter Institute’s College Media Project</a
      >. The project’s objective: to tell health related stories through the
      lens of Black college students, while examining possible solutions.
    </p>
  </div>
</div>
