<div class="pullout container-flex">
  <div class="row">
    <div class="quote col-sm">
      <h2>
        Why Black Women Are Dying of Breast Cancer at Higher Rates than White
        Women
      </h2>

      <p class="slug">
        There is a 2.6 percent chance a woman will die from breast cancer. Black
        women make up a large portion of that small percentage, with a 40
        percent higher death rate.
      </p>
      <hr class="class-6" />
      <p class="author">
        Jordan D. Brown, Staff Writer
      </p>
      <p class="date">
        October 30, 2020
      </p>
    </div>
  </div>
</div>
<div class="full-width-background">
  <div class="container-md story-content">
    <p>
      Hope Egie, junior business administration major, was 8 years old when her
      mother, Isimeme Akoko was diagnosed with Stage 4 breast cancer. With her
      being so young at the time, Egie does not remember when her mother was
      first diagnosed, but she began to understand the process more as she got
      older.
    </p>
    <p>
      “My dad didn’t discuss it with me until I got older, but she felt
      something weird and the doctor didn't notice it at first,” Egie said. “It
      wasn’t until after we switched doctors when she actually found that it was
      breast cancer and that her original doctor had missed the diagnosis.”
    </p>
    <p>
      The mother of four fought a year-long battle before she died within a year
      of chemotherapy and radiation treatment at 44 years old.
    </p>
    <div class="image-with-caption">
      <img
        alt="Hope Egie (left) smiles in a family photo with her mother Isimeme Akoko (upper left)"
        src="https://cdn.glitch.com/03f006d0-e079-4e82-9710-e203769a31d8%2FHope%20Egie%20(left)%20smiles%20in%20a%20family%20photo%20with%20her%20mother%20Isimeme%20Akoko%20(upper%20left).%20(Courtesy%20of%20Hope%20Egie).jpg?v=1604084969326"
      />
      <footer class="image-caption">
        Hope Egie (left) smiles in a family photo with her mother Isimeme Akoko
        (upper left)
      </footer>
      <footer class="image-caption">
        Photo Courtesy Of: Hope Egie
      </footer>
      <br />
    </div>

    <p>
      In the average human lifetime, about one in eight women are infected with
      breast cancer, the second most common cancer diagnosed among American
      women according to Breastcancer.org. Although only 12 percent of women are
      diagnosed with breast cancer in their lifetime, the disease has affected
      everyone in the nation, whether they personally suffered from it or
      witnessed a loved one fight through it.
    </p>
    <p>
      There is a 2.6 percent chance a woman will die from breast cancer. Black
      women specifically make up a large portion of that small percentage of
      women. They have a 40 percent higher death rate than White women according
      to the Centers for Disease Control and Prevention (CDC).
    </p>
    <p>
      When Black women are infected with breast cancer, they are two times more
      likely to get triple-negative breast cancer (TNBC), an aggressive form of
      breast cancer that often comes back after treatment, in comparison to
      White women.
    </p>
    <p>
      TNBC is different from other forms of breast cancer because of its failure
      to respond to hormonal therapy, according to Patience Ekeocha, nurse
      practitioner and associate director of the Morgan State University Health
      Center.
    </p>
    <p>
      “Triple-negative subtype is basically the breast cancer that tests
      negative for estrogen receptors. This cancer does not respond to hormonal
      therapy. You can use hormonal therapies for other breast cancers, but this
      cancer does not respond to it,” Ekeocha said.
    </p>
    <p>
      The Johns Hopkins University School of Medicine’s Department of Oncology
      and the Sidney Kimmel Comprehensive Cancer Center at Johns Hopkins studied
      the racial disparity and triple negative breast cancer among Black women.
      The studies reported some of the characteristics of TNBC in Black women
      are larger tumors and further advanced stages at the diagnosis compared to
      White women.
    </p>
    <p>
      There has been some progress with learning more about triple negative
      breast cancer, according to Karen E. Jackson, four-time breast cancer
      survivor and CEO of Sisters Network, a national African American breast
      cancer survivorship organization. Jackson said that doctors didn’t even
      have a name for the type of cancer in the ‘90s.
    </p>
    <p>
      “All they would say is that African American women were too lazy, we
      didn’t want to take care of our health,” Jackson said. “It was all about
      what we didn’t do and not that the particular cancer was aggressive.”
    </p>
    <p>
      As reported by Johns Hopkins University, 30 percent of Black women
      diagnosed with breast cancer are likely to have TNBC, compared to 16
      percent of White women.
    </p>
    <p>
      Otis Brawley, Bloomberg Distinguished Professor of Oncology from Johns
      Hopkins University, argued that the claim that Black women get TNBC more
      than White women is an exaggeration and the focus should be on the number
      of Black women that do not seek medical attention.
    </p>
    <p>
      “The biggest problem is that black women with breast cancer are less
      likely to get optimal therapy and actually the therapy issues are worse
      for the 76 percent of Black women who do not have triple negative breast
      cancer,” Brawley said.
    </p>
    <p>
      While this could be the case for those women, there have been several
      cases where Black women sought medical attention and it was not enough. In
      Akoko’s case, her doctors dismissed her health concerns and did not take
      her seriously.
    </p>
    <p>
      “Her doctor would usually either write a prescription for her to take for
      the time being or they’d just say, ‘It’s a side effect, it’s normal’ even
      though she would express she felt like it wasn’t something that was
      normal,” Egie said. “They’d kind of like push it off as something like
      ‘Oh, she’s exaggerating’ or it’s something that’s not that serious for the
      time being.’”
    </p>
    <p>
      In situations like, some believe that Black women’s health concerns are
      not taken as seriously as they should be until it is too late.
    </p>
    <p>
      “There’s a lack of emphasis on getting people good high-quality care once
      diagnosed,” Brawley said. “Those whose lives could have been saved, the
      majority die because they don’t get good high-quality treatment.”
    </p>

    <p class="colophon">
      Hershaw’s story is a part of “Black Health Matters,” a year-long reporting
      program through
      <a
        href="https://www.poynter.org/from-the-institute/2020/poynter-announces-the-10-student-media-publications-selected-for-its-2020-21-college-media-project/"
        >The Poynter Institute’s College Media Project</a
      >. The project’s objective: to tell health related stories through the
      lens of Black college students, while examining possible solutions.
    </p>
  </div>
</div>
