.content {
  background-color: var(--light-foreground);
  color: var(--cool-foreground);
  padding: 1rem;
  border-radius: 1rem;
}
p{
  padding: 50px;
}
.img1{
  padding-left: 350px;
  padding-right: 350px;
  height: 150px;
  width: 150px;
}