.content {
  background-color: var(--light-foreground);
  color: var(--cool-foreground);
  padding: 1rem;
  border-radius: 1rem;
}
p{
  padding: 50px;
  text-align: left;
}
.centered-image {
  margin: auto;
  display: block;
}
img {
  max-width: 100%;
}

.pullout {
  display: flex;
  background-color: rgba(255,255,255, 0.3)
}
.pullout > img {
  max-width: 50%;
}