.story-content {
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 100px;
}

@media (min-width: 576px) {
  .story-content {
    max-width: 60%;
  }
}

.full-width-background {
  background-color: var(--lightest-color);
}
.centered-image {
  margin: auto;
  display: block;
}
img {
  max-width: 100%;
}

@media (min-width: 576px) {
  img {
    max-height: 80%;
  }
  .header-image {
    margin-left: 10%;
    margin-top: 18%;
  }
}

.pullout {
  display: flex;
}
.pullout > img {
  max-width: 50em;
  max-height: 30em;
  margin-top: 10%;
  margin-bottom: 10%;
  margin-left: 5%;
}

.header-caption.image-caption {
  color: whitesmoke;
  font-size: 15px;
}

.header-credit.image-caption {
  color: whitesmoke;
  font-size: 12px;
}

.image-caption {
  color: black;
  font-size: 16px;
  text-align: center;
}

@media (min-width: 768px) {
  .image-caption {
    padding-left: 0px;
  }
}

.image-credit {
  color: black;
  font-size: 14px;
  text-align: center;
  padding-bottom: 50px;
  padding-left: 0px;
}

@media (min-width: 768px) {
  .pullout > .quote {
    font-size: 300%;
  }
}

.slug {
  text-align: left;
  color: #ed9740;
  padding-bottom: 20px;
}

ul.share-buttons {
  list-style: none;
  padding-left: 47%;
  padding-bottom: 100px;
}

ul.share-buttons li {
  display: inline;
}

ul.share-buttons .sr-only {
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
  position: center;
}

.writer {
  text-align: left;
}
.quote {
  padding-left: 2em;
  padding-right: 2em;
}

@media (min-width: 576px) {
  .quote {
    padding-top: 10%;
    padding-left: 120px;
    padding-right: 90px;
    padding-bottom: 100px;
    text-align: left;
  }
}

footer {
  font-style: italic;
}

@media (min-width: 576px) {
  footer {
    text-align: center;
    padding-top: 1%;
    padding-left: 15%;
  }
}

.author {
  padding-top: 20px;
  margin-bottom: 0px;
  text-align: left;
  font-size: 20px;
  color: white;
}

.date {
  padding-top: 0px;
  text-align: left;
  font-size: 16px;
  color: white;
}

.center {
  text-align: center;
}

hr.class-6 {
  border-top: 3px solid #f0f0f0;
  width: 25%;
  margin: 0px;
}

p {
  color: black;
  font-weight: bolder;
  text-align: left;
}

.story-content > p {
  padding-bottom: 25px;
}

.colophon {
  font-style: italic;
  font-weight: normal;
  font-size: 16px;
  padding-bottom: 20%;
}
