html {
  --cool-background: #cffcff;
  --cool-foreground: #358600;
  --dark-background: #63c132;
  --dark-foreground: #aaefdf;
  --highlight: #aaefdf;
}

body {
  background-color: var(--cool-background);
  color: var(--cool-foreground);
  font-family: helvetica, sans-serif;
}
nav {
  width: 100%;
  color: var(dark-foreground);
}
nav ul {
  list-style: none;
  text-align: center;
}
nav li {
  background-color: var(--dark-background);
  display: inline-block;
  padding: 5px;
  margin: 15px;
  border-radius: 5px;
  text-align: center;
  width: 150px;
}
nav li:hover {
  background-color: var(--highlight);
}
nav li a {
  color: var(--cool-background);
  text-decoration: none;
}
nav li:hover a {
  color: var(--dark-background);
}


.content {
  background-color: var(--dark-foreground);
  color: var(--cool-foreground);
  padding: 1rem;
  border-radius: 1rem;
}
